In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# data preprocessing
import nltk
nltk.download('stopwords')
nltk.download('punkt')
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
import re
from collections import Counter
from wordcloud import WordCloud
from sklearn.preprocessing import LabelEncoder

# Model Building
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\selin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\selin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
data = pd.read_csv("spam.csv",encoding='latin1')

In [4]:
data.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3714,ham,"I am late,so call you tomorrow morning.take ca...",NaN,NaN,NaN
2750,ham,Ok but tell me half an hr b4 u come i need 2 p...,NaN,NaN,NaN
5522,ham,Thats cool. I want to please you...,NaN,NaN,NaN
182,ham,ok. I am a gentleman and will treat you with d...,NaN,NaN,NaN
1620,ham,"Fuck babe, I miss you sooooo much !! I wish yo...",NaN,NaN,NaN

In [5]:
data.shape

(5572, 5)

In [6]:
data.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

In [7]:
data.rename(columns={'v1': 'result', 'v2': 'emails'}, inplace=True)

In [8]:
data.head(5)

  result                                             emails
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
data.isnull().sum()

result    0
emails    0
dtype: int64

In [10]:
data.duplicated().sum()

np.int64(403)

In [11]:
data = data.drop_duplicates(keep='first')
data.shape

(5169, 2)