# Importing the important libraries and dataset

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# data preprocessing
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
import re
from collections import Counter
from wordcloud import WordCloud
from sklearn.preprocessing import LabelEncoder

# Model Building
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\selin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\selin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\selin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [13]:
data = pd.read_csv("spam.csv",encoding='latin1')

### `data.sample(5)` will randomly pick 5 emails from the dataset

In [14]:
data.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1911,ham,Lol grr my mom is taking forever with my presc...,NaN,NaN,NaN
590,spam,For ur chance to win a å£250 wkly shopping spr...,NaN,NaN,NaN
4647,ham,We are okay. Going to sleep now. Later,NaN,NaN,NaN
742,ham,Just got up. have to be out of the room very s...,NaN,NaN,NaN
2038,ham,Hey are we going for the lo lesson or gym?,NaN,NaN,NaN

In [15]:
data.shape

(5572, 5)

### Remove unnecessary columns named “Unnamed: 2,” “Unnamed: 3,” and “Unnamed: 4.”

In [16]:
data.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

### Rename two columns to make them more understandable: “v1” becomes “result,” and “v2” becomes "emails"

In [17]:
data.rename(columns={'v1': 'result', 'v2': 'emails'}, inplace=True)

### First five dataset to show the changes

In [18]:
data.head(5)

  result                                             emails
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

### Check and remove missing or duplicate entries

In [19]:
data.isnull().sum()

result    0
emails    0
dtype: int64

In [20]:
data.duplicated().sum()

np.int64(403)

In [21]:
data = data.drop_duplicates(keep='first')
data.shape

(5169, 2)

In [22]:
data['length']=data['emails'].apply(len)

In [23]:
data.head()

  result                                             emails  length
0    ham  Go until jurong point, crazy.. Available only ...     111
1    ham                      Ok lar... Joking wif u oni...      29
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3    ham  U dun say so early hor... U c already then say...      49
4    ham  Nah I don't think he goes to usf, he lives aro...      61

In [26]:
data['num_words']=data['emails'].apply(word_tokenize).apply(len)